<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phân Loại Rác</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <h1>Phân Loại Rác</h1>

            <label for="fileInput" class="file-input-label">Chọn ảnh</label>
            <input type="file" id="fileInput" accept="image/*">
            <img id="preview" src="#" alt="Xem trước ảnh">
            <button onclick="uploadImage()">Tách Vật Thể</button>

            <div class="hr-line"></div>

            <div id="croppedImages"></div>
        </div>

        <div class="right-panel">
            <h2>Kết Quả Phân Loại: <span id="result">Chưa có kết quả</span></h2>
        </div>
    </div>

    <script src="static/js/script.js"></script>
</body>
</html>
